@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@300&family=Secular+One&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 10pt;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.splash-btn {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin-left: 5vmin;
}
.splash-btn:hover {
  background-color: #eb675e;
}
.splash-btn:active {
  position: relative;
  top: 1px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 244, 244);
  height: 15vh;
  padding-top: 1vmin;
}

.navbar .logo {
  font-family: "Secular One", sans-serif;
  font-size: 5vmin;
  margin-left: 5vw;
  text-transform: uppercase;
  padding-top: 15px;
  display: flex;
}

.timeless-finds-logo{
  object-fit: cover;
  position: relative;
}

.navbar .right {
  font-size: 2.5vmin;
  /* font-weight: bold; */
  margin-right: 3vw;
}

.navbar .right .link {
  padding: 2vmin;
  color: orangered;
}

.splash {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 85vh;
}

.splash .desc {
  width: 40vw;
  margin-top: 20vmin;
  padding: 3vmin;
}

.splash .desc h1 {
  margin-left: 5vmin;
  font-size: 5vmin;
}

.splash .desc p {
  font-style: italic;
  margin-left: 5vmin;
  font-size: 2.5vmin;
}

.splash .img {
  background-image: url("/images/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300vh;
  overflow: hidden;
  width: 60vw;
  z-index: -1;
  position: relative; /* Required to move the image */
  animation: move-up-down 20s ease-in-out infinite;
}

@keyframes move-up-down {
  0% {
    top: 0; /* Start position */
  }
  50% {
    top: -90vh; /* Middle position */
  }
  100% {
    top: 0; /* End position */
  }
}

.features {
  display: flex;
  background-color: rgb(255, 244, 244);
  justify-content: space-around;
  height: 45vh;
  margin-bottom: 2vmin;
}

.features .card {
  height: 30vh;
  width: 25vw;

  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  overflow: hidden;
}

.features .card .top {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1vmin;
}

.features .card .top img {
  border-radius: 10vmin;
}

.features .card .top h2 {
  padding: 1vmin;
  padding-left: 2vw;
  font-size: 2.5vmin;
}

.features .card .bottom {
  padding: 1vmin;
  font-size: 2vmin;
}

.content {
  display: flex;
  justify-content: space-around;

  height: 50vh;
  padding: 5vmin;
}

.content .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
}

/* .content .desc h1 {
} */

.content .img-about {
  background-image: url("/images/abt.png");
  background-size: cover;
  min-width: 40vw;
}

.content .img-mission {
  background-image: url("/images/sus.jpg");
  background-size: cover;
  min-width: 40vw;
}

.content .img-map {
  background-image: url("/images/map.png");
  background-size: cover;
  min-width: 40vw;
}

.big-title {
  margin-top: 15vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4685d;
  font-size: 1.5vmin;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #e4685d;
  border-style: solid;
  color: #000000;
}

td,
th {
  border-width: 2px;
  border-color: #e4685d;
  border-style: solid;
  padding: 5px;
}

thead {
  background-color: #e4685d;
}

.display {
  display: flex;
  justify-content: space-around;
  height: 50vh;
  padding: 5vmin;
}

/* .review {
  display: flex;
  justify-content: space-around;
  background-color: green;
  height: 40vh;
}

.review .card {
  height: 35vh;
  width: 20vw;
  border-radius: 0.5vmin;
  border: solid black 0.2vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2vh;
} */

/* .footer {
  background-color: blue;
} */

form label {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

form input[type="text"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

form input[type="file"] {
  margin-top: 10px;
}

form input[type="submit"] {
  background-color: #e4685d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

form input[type="submit"]:hover {
  background-color: #e4685d;
}

form textarea {
  height: 100px;
}

.navbar .searchbar button {
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 0px;
  background: #ddd;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.navbar .searchbar button:hover {
  background: #ccc;
}