<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel - Products</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <!-- <div class="container"> -->
    <div class="navbar">
      <div class="logo">
        <a href="#">Timeless Finds</a>
      </div>
      <div class="right">
        <a class="link" href="#">About</a>
        <a class="link" href="#">Contact</a>
        <a class="link" href="#">FAQs</a>
        <a class="link" href="#">Products</a>
      </div>
    </div>

    <div class="big-title">
      <h1>Admin Panel - Product Mangement</h1>
    </div>

    <div class="display">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><img src="https://picsum.photos/200" alt="Product" /></td>
            <td>Product 1</td>
            <td>10</td>
            <td>$20</td>
            <td>Type A</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          </tr>
          <tr>
            <td>2</td>
            <td><img src="https://picsum.photos/200" alt="Product" /></td>
            <td>Product 2</td>
            <td>5</td>
            <td>$15</td>
            <td>Type B</td>
            <td>
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td><img src="https://picsum.photos/200" alt="Product" /></td>
            <td>Product 3</td>
            <td>20</td>
            <td>$25</td>
            <td>Type A</td>
            <td>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
