<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
</head>
<body>
    <h2>Edit Product</h2>
    <form th:action="@{/update/{id}(id=${product.productId})}" th:object="${product}" method="post">
        <label>Name: <input type="text" th:field="*{name}" required/></label><br/>
		<label>Description: <input type="text" th:field="*{description}" required/></label><br/>
        <label>Price: <input type="number" th:field="*{price}" min="0" value="0" step=".01" required/></label><br/>
        <label>Category: <input type="text" th:field="*{category}" required/></label><br/>
        <label>Quantity: <input type="number" th:field="*{quantity}" required/></label><br/>
        <label>Image URL: <input type="text" th:field="*{imageUrl}" required/></label><br/></label>
        <button type="submit">Update Product</button>
    </form>
    
    <a th:href="@{/productslist}">Back to Product List</a>
</body>
</html>