<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Catalogue</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="/">
          <!-- <img class="timeless-finds-logo" src="/images/logo.png" alt="logo" width="260" height="125"> -->
          <img class="timeless-finds-logo" src="/images/logonew.png" alt="logo" width="225" height="55">
        </a>
      </div>
      <div class="right">
        <a class="link" href="./#content-block">About</a>
        <a class="link" href="./#contact">Contact</a>
        <a class="link" th:href="@{/productcatalogue}">Products</a>

        <a class="link" th:href="@{/cartpage}">View Cart</a>

        <a class="link" href="#">View Previous Orders</a>
        <!-- search bar -->
        <div class="searchbar">
          <form action="/productcatalogue" method="post">
            <input type="text" placeholder="Search.." name="searchTerm">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="product-body">


    <h1 class = "title valign-text-middle">Product Catalogue</h1>
      <div class="frame-12">
        <article class="item-card-default">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
        <article class="item-card-default-1">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
        <article class="item-card-default-1">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
        <article class="item-card-default-1">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
      </div>
      <div class="frame-13">
        <article class="item-card-default">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
        <article class="item-card-default-1">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
        <article class="item-card-default-1">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
        <article class="item-card-default-1">
          <div class="rectangle-1"></div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Product Name</div>
          <div class="name v-align-text-middle rubik-bold-taupe-20px">Price</div>
        </article>
      </div>
    
    
    
    
    <table>
        <!-- <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageUrl}"></td>
            </tr>
        </tbody> -->
    </table>
  </div>
</body>
</html>