<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="right">
        
        <a class="link" th:href="@{/productcatalogue}">Products</a>
        <!-- create -->
        <a class="link" th:href="@{/create}">Create</a>
        <!-- logout -->
        <a class="link" th:href="@{/logout}">Admin Logout</a>
        <!-- search bar -->
        <div class="searchbar">
          <form action="/productslist/search" method="post">
            <input type="text" placeholder="Search.." name="searchTerm" />
          </form>
        </div>
      </div>
    </div>
  </div>
<body>
    <h1>Welcome, <label th:text = "${username}"> </label></h1>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.name}"></td>
                <td><img th:src="${product.imageUrl}" class="product-thumb" alt="" height = "50px" width = "50px"></td>               
                <td th:text="${product.description}"></td>
                <td th:text="${#numbers.formatDecimal(product.price,0,2)}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.quantity}"></td>
                <td><a th:href="@{/edit/{id}(id=${product.productId})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${product.productId})}">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/create}">Create Product</a>
</body>
</html>