<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Product Catalogue</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="/">
            <!-- <img class="timeless-finds-logo" src="/images/logo.png" alt="logo" width="260" height="125"> -->
            <img
              class="timeless-finds-logo"
              src="/images/logonew.png"
              alt="logo"
            />
          </a>
        </div>
        <div class="right">
          <a class="link" href="./#content-block">About</a>
          <a class="link" href="./#contact">Contact</a>
          <a class="link" th:href="@{/productcatalogue}">Products</a>

          <a class="link" th:href="@{/cartpage}">View Cart</a>
          <!-- login -->
          <a class="link" th:href="@{/login}">Admin Login</a>
          <!-- logout -->
          <a class="link" th:href="@{/logout}">Admin Logout</a>
          <!-- search bar -->
          <div class="searchbar">
            <form action="/productcatalogue/search" method="post">
              <input type="text" placeholder="Search.." name="searchTerm" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <section class="product">
      <h2 class="product-category">Product Catalogue</h2>
    </section>
    <div class="product-container">
        <article th:each="product : ${products}" class="product-card">
			<div class="product-image">
				<a th:href="@{/productcatalogue/{name}-{id}(name=${product.name}, id=${product.productId})}"> <img
					th:src="${product.imageUrl}" class="product-thumb" alt="">
				</a>
				<form action="/productcatalogue/addtocart" method="post">
					<button class="card-btn" type="submit" name="productId"
						th:value="${product.productId}">add to cart</button>
				</form>
			</div>
			<div class="product-info">
				<h2 class="product-brand">
					<a
						th:href="@{/productcatalogue/{name}-{id}(name=${product.name}, id=${product.productId})}">
						<td th:text="${product.name}"></td>
					</a>
				</h2>
				<!-- <p class="product-short-des"><td th:text="${product.description}"></p> -->
				<span class="price">$
					<td th:text="${#numbers.formatDecimal(product.price,0,2)}"></td>
				</span>
			</div>
		</article>
    </div>

    <!-- <div class="product-body">
      <h1 class="title valign-text-middle">Product Catalogue</h1>

      <article th:each="product : ${products}" class="item-card-default">
        <div class="rectangle-1">
          <img
            th:src="${product.imageUrl}"
            alt="[Product Image]"
            class="product-image"
          />
        </div>
        <div class="name v-align-text-middle rubik-bold-taupe-20px">
          <td th:text="${product.name}"></td>
        </div>
        <div class="name v-align-text-middle rubik-bold-taupe-20px">
          <td th:text="${product.price}"></td>
        </div>
      </article> -->

      <!-- <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.imageUrl}"></td>
          </tr>
        </tbody>
      </table> 
    </div> -->
  </body>
</html>
