@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@300&family=Secular+One&family=Vollkorn&display=swap");

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 5vh;
  padding: 1vmin, 1vmin, 1vmin 0;
}

.navbar .logo {
  font-family: "Secular One", sans-serif;
  font-size: 2.5vmin;
  margin-left: 1vw;
  text-transform: uppercase;
}

.navbar .right {
  font-family: "Vollkorn", serif;
  font-size: 1.7vmin;
  margin-right: 1vw;
}

.navbar .right .link {
  padding: 2vmin;
  color: orangered;
}

.splash {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  overflow: hidden;
  height: 60vh;
}

.splash .desc {
  background-color: pink;
  width: 40vw;
  margin-top: 5vmin;
  padding: 3vmin;
}

.splash .desc h1 {
  font-family: "Vollkorn", serif;
  font-size: 5vmin;
}

.splash .desc p {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-size: 2.5vmin;
}

.splash .img {
  background-image: url("https://picsum.photos/1100/1100");
  background-size: cover;
  height: 60vh;
  width: 60vw;
}

.features {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  height: 35vh;
}

.features .card {
  height: 25vh;
  width: 25vmin;
  border-radius: 0.5vmin;
  border: solid black 0.2vmin;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  overflow: hidden;
}

.features .card .top {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1vmin;
}

.features .card .top img {
  border-radius: 10vmin;
}

.features .card .top h2 {
  font-family: "Marck Script", cursive;
  padding: 1vmin;
  font-size: 2.5vmin;
}

.features .card .bottom {
  padding: 1vmin;
}

.content {
  display: flex;
  justify-content: space-around;
  background-color: red;
  height: 30vh;
}

.content .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 30vh;
  width: 40vw;
  padding: 2vmin;
}

.content .desc h1 {
  font-family: "Marck Script", cursive;
}

.content .img {
  background-image: url("https://picsum.photos/1100/1100");
  background-size: cover;
  height: 30vh;
  width: 40vw;
}

/* .review {
  display: flex;
  justify-content: space-around;
  background-color: green;
  height: 40vh;
}

.review .card {
  height: 35vh;
  width: 20vw;
  border-radius: 0.5vmin;
  border: solid black 0.2vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2vh;
} */

/* .footer {
  background-color: blue;
} */
